# OS files
.DS_Store
Thumbs.db

# Logs and temp files
*.log
*.tmp
*.swp

# Environment and secrets
.env
*.env

# Node / JS
node_modules/
npm-debug.log

# Python
__pycache__/
*.pyc
.venv/
venv/

# Terraform / IaC
.terraform/
*.tfstate
*.tfstate.backup
terraform.tfstate

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Docker
docker-compose.override.yml

# Other
*.bak
*.backup
*.old
